<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>x64</Platform>
		<PublishDir>..\..\publish-dalamud\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net8.0-windows</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
	</PropertyGroup>
</Project>