<?xml version="1.0" encoding="utf-8"?>
<Project>
	<PropertyGroup>
		<Configuration>Release</Configuration>
		<Platform>Any CPU</Platform>
		<PublishDir>..\..\publish-standalone\</PublishDir>
		<PublishProtocol>FileSystem</PublishProtocol>
		<TargetFramework>net7.0-windows</TargetFramework>
		<RuntimeIdentifier>win-x64</RuntimeIdentifier>
		<SelfContained>false</SelfContained>
		<PublishSingleFile>true</PublishSingleFile>
		<PublishReadyToRun>false</PublishReadyToRun>
	</PropertyGroup>
</Project>